// .page-container {
//   /* 避免双击选中 */
//   user-select: none;
//   ul {
//     user-select: none;
//     list-style: none;
//     display: inline-block;
//     vertical-align: top;
//     font-size: 0;
//     padding: 0;
//     margin: 0;
//     li {
//       padding: 0 4px;
//       background: #fff;
//       vertical-align: top;
//       display: inline-block;
//       font-size: 13px;
//       min-width: 35.5px;
//       height: 28px;
//       line-height: 28px;
//       cursor: pointer;
//       box-sizing: border-box;
//       text-align: center;
//       margin: 0;
//       &:hover {
//         color: #409EFF;
//       }
//       &.active {
//         color: #409EFF;
//         cursor: default;
//       }
//     }
//   }
// }

// TODO: flex
.page-container {
  /* 避免双击选中 */
  user-select: none;
  margin: 0 auto;
  max-width: 420px;
  display: flex;
  ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex: 1;
    margin: 0 auto;
    vertical-align: top;
    font-size: 0;
    overflow-x: auto;
    li {
      padding: 0 4px;
      background: #fff;
      vertical-align: top;
      display: inline-block;
      font-size: 13px;
      min-width: 35.5px;
      height: 28px;
      line-height: 28px;
      cursor: pointer;
      box-sizing: border-box;
      text-align: center;
      margin: 0;
      &:hover {
        color: #409EFF;
      }
      &.active {
        color: #409EFF;
        cursor: default;
      }
    }
  }
}
